/* src/styles/Navbar.css */

* {
    user-select: none;
}

@font-face {
    font-family: 'Text';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/text.woff2") format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body {
    color: #fff;
}

h1 {
    font-family: "Text", sans-serif;
    font-size: 64px;
    font-weight: 1000;
    margin: 0;
    padding-top: 10vh;
}

p {
    margin: 0;
    padding-top: 0vh;
    padding-bottom: 5vh;
    font-size: 24px;
    color: #0891B2;
    font-weight: 600;
}

span {
    font-size: 18px;
    line-height: 30px;
}

b {
    font-weight: normal;
    color: #0891B2;
}

.About {
    min-width: 500px;
}

.socials {
    margin-top: 2vh;
    display: flex;
}

.socials div {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #020617;
    font-family: 'Text', sans-serif;
    font-size: 14px;
    font-weight: bold;
    background: #e7e8ea;
    border: 1px solid transparent;
    border-radius: 6px;
    margin-right: 1vw;
    transition: 0.25s ease-in-out;
    background: radial-gradient(666px at 0.4% 48%, rgb(202, 204, 227) 0%, rgb(89, 89, 99) 97.5%);
}

.socials div:hover {
    cursor: pointer;
    transform: scale(1.025);
}

.nolink {
    text-decoration: none;
    color: #020617;
}