/* src/styles/Navbar.css */

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    position: fixed;
    margin-top: 5px;
}

.navbar-menu {
    padding: 0;
    backdrop-filter: blur(100px);
}

a:not(.nolink) {
    text-decoration: none;
    color: #fff;
    font-family: 'Text', sans-serif;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 16px;
    transition: 0.25s ease-in-out;
}

a:hover:not(.nolink) {
    background: #4F515D;
}

ul {
    display: flex;
    justify-content: center;
    font-size: 16.5px;
    list-style: none;
    background: #020617;
    gap: 5px;
}