/* App.css */

body {
  background-color: #020617;
  background-image: 
    linear-gradient(90deg, #101321 0.5px, transparent 0), 
    linear-gradient(180deg, #101321 0.5px, transparent 0);
  background-size: 12px 20px;
}

.section-1 {
  display: flex;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 90vw;
  margin-top: 10vh;
  gap: 100px;
}
